<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/transGalactica-pay-job-springbatch"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.springframework.batch.core.launch.support.CommandLineJobRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="org.transgalactica.batch.salaire.context.AppConfig &#10;ficheSalaireJob &#10;salaire.compute.date=&quot;2015-03-01&quot; &#10;salaire.compute.output.filename=&quot;file:./target/BatchRun/compute.data&quot; &#10;salaire.edit.output.directory=&quot;file:./target/BatchRun/&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="transGalactica-pay-job-springbatch"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=&quot;embedded&quot;"/>
</launchConfiguration>
