<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender
		name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %-5p [%t] %c : %m\n</pattern>
		</encoder>
	</appender>

	<logger
		name="org.springframework"
		level="WARN" />
	<logger
		name="org.springframework.web"
		level="WARN" />
	<logger
		name="org.springframework.aop"
		level="WARN" />
	<logger
		name="org.springframework.orm.jpa"
		level="WARN" />
	<logger
		name="org.springframework.batch"
		level="WARN" />
	<logger
		name="org.springframework.security"
		level="WARN" />

	<logger
		name="org.dozer"
		level="WARN" />

	<logger
		name="org.hibernate"
		level="WARN" />
	<logger
		name="org.hibernate.cache"
		level="WARN" />
	<logger
		name="net.sf.ehcache"
		level="WARN" />

	<logger
		name="org.apache.tiles"
		level="WARN" />

	<logger
		name="org.apache.cxf"
		level="WARN" />

	<logger
		name="org.transgalactica"
		level="DEBUG" />

	<root level="WARN">
		<appender-ref ref="stdout" />
	</root>

</configuration>